.leftLine{
    border-top: 0.06rem  solid #44475a;
    width: 25rem;
    display: inline-block
}
.rightLine{
    border-top: 0.06rem solid #44475a;
    width: 25rem;
    display: inline-block
}
.headingPress{
    display: inline-block;
    margin: 0 2rem;
    font-size: 2.3rem;
    color: #44475a;
}
.inthepress{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .inthepress{
        flex-direction: column;
    }
    .leftLine{
        width: 22rem;
        display: inline-block
    }
    .rightLine{
        border-top: 0.06rem solid #44475a;
        width: 22rem;
        display: inline-block
    }
}