.support{
    font-weight: 400;
    background: #00d09b;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: 70rem;
    height: 25rem;
    margin: auto;
    border-radius: 2rem;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.support img{
    height: 20rem;
    width: 18rem;
}
.supportInfo{
    max-width: 20rem;
    padding-bottom: 2rem;
}
.supportHeading{
    font-size: 2.5rem;
    padding-bottom: 2rem;
}
.supportLeft{
    width: 50%;
    line-height: 1.5rem;
}

.supportButton{
    background: white;
    color: #00d09b;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border: none;
    border-radius: 0.2rem;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
}
.buttonForSupport{
    padding-bottom: 2rem;
}

@media screen and (max-width: 600px) {
    .support{
        flex-direction: column;
        max-width: 100%;
        height: 100%
    }
    .supportHeading{
        font-size: 2,1rem;
        padding-bottom: 1rem;
    }
    .supportLeft{
        width: 100%;
        line-height: 2.5rem;
        text-align: center;
        padding-top: 2rem;
    }
    .support img{
        height: 10rem;
        width: 10rem;
    }
    .supportInfo{
        max-width: 20rem;
        padding: 1rem;
        
    }
}